<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<h1>Welcome to the inventory website</h1>
<p>
This website is designed to do basic CRUD operations for the Shopify backend development challenge :]
<br><br>
Here you can find the list of all the products, and you can choose an action to perform</p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>--Product name--</th>
        <th>--Product Description--</th>
        <th>--Product Price--</th>
        <th>--Actions--</th>
    </tr>
    </thead>
    <tbody>
{% for prod in prods %}
    <tr>
        <td>{{ prod.name }}</td>
        <td>{{ prod.description }}</td>
        <td>{{ prod.price }}</td>
        <td>
            <a href="/edit/{{ prod.id }}"><span class="glyphicon glyphicon-pencil" >---Edit---</span></a>
            <a href="/delete/{{ prod.id }}">---Delete---</a>
            <a href="/downloadsingle/{{ prod.id }}">---Download single product information as a CSV file---</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br><br><br>
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>
<br>
<center><a href="/downloadall" class="btn btn-primary">Download All-Inventory information as CSV</a></center>
</body>
</html>